<div style="border:1px solid #ccc;padding:10px;margin-bottom:15px">

  <h3>Add New Field</h3>

  <div>

    <label>Field Type</label>

    <select [(ngModel)]="selectedType">
      <option value="">Select Type</option>

      <option *ngFor="let type of fieldTypes"
              [value]="type">

        {{type}}

      </option>

    </select>

  </div>

  <br>

  <div>

    <label>Field Label</label>

    <input
      type="text"
      [(ngModel)]="label"
      placeholder="Enter field label"
    >

  </div>

  <br>

  <button (click)="addField()">

    Add Field

  </button>

</div>